.textAlign {
    text-align: center;
}
.chatbox {
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: azure;
    margin: 0px auto;
    border: 1px solid black;
    width: 400px;
    height: 500px;
    overflow: auto;
    /* display: flex;
    flex-direction: column-reverse; */
}

.fstbg {
    background-color: aquamarine;
    /* display: flex;
    flex-direction: column-reverse; */
}

.chatbox span {
    font-size: 0.5rem;
    margin-left: 5px;
}

.chatbox p {
    margin-top: 0;
    padding-left: 60px;
}

.mainComment {
    text-align: right;
    padding-right: 15px;
    margin-top: -15px;
}

.hidehr {
    visibility: hidden;
    padding-bottom: 3px;
    margin:0px;
}

.hidehr-xl {
    visibility: hidden;
    padding-bottom: 12px;
    margin:0px;
}

.greyline {
    border: 1px solid grey;
    width: 260px;
    /* padding-bottom: 3px; */
    margin:2px;
}

.comment {
    margin: 10px auto;
    width: 415px;
    height: 200px;
}

.textbox {
    width: 417px;
    height: 50px;
}

.textupdate {
    width: 417px;
    height: 55px;
}

.showreply {
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 100px;
    background-color: yellow;
    /* display: flex;
    flex-direction: column-reverse; */
}